@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;700&display=swap');

$mainTextColor: #274d4e;
$mainBgColor: #f9e2d4;
$breakPointMobile: 900px;


.container {
  min-height: 100vh;
  padding: 0;
  //padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainSection {
  background: white;
  width: 100%;
  height: 100vh;
  padding: 2.8vw;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  @media (max-width: $breakPointMobile) {
    height: unset;
    padding: unset;
    overflow: auto;
  }

  .formTrigger {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 73vh;
    z-index: 2;
    left: 42.2vw;
    @media (max-width: $breakPointMobile) {
      position: relative;
      bottom: 0;
      right: unset;
      left: 11%;
      width: 6rem;
      margin-top: 2rem;
      top: unset;
    }
    @-webkit-keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .rotating {
      animation: rotating 8s linear infinite;

      &:hover {
        animation-play-state: paused;
      }
    }


    span {
      width: 6rem;
      height: 6rem;
      cursor: pointer;
      @media (max-width: $breakPointMobile) {
        width: 6rem;
        height: 6rem;
      }

      svg {
        fill: $mainTextColor;
      }
    }
  }
}

.centerBG {
  width: 100%;
  height: 100%;
  background: $mainBgColor;
  @media (max-width: $breakPointMobile) {
    width: 92%;
    height: 100%;
    position: absolute;
    bottom: 0;
  }
}

.mainLogo {
  z-index: 1;
  position: absolute;
  top: 3.5rem;
  left: 3.7rem;
  width: 8.5rem;

  img {
    width: 100%;
  }

  svg {
    width: 100%;
    height: auto;
  }

  @media (max-width: $breakPointMobile) {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4rem;
  }
}

.mainPoster {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 36vw;
  height: 100%;
  background-image: url(/images/poster.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%);
  }

  @media (max-width: $breakPointMobile) {
    position: relative;
    top: unset;
    left: unset;
    padding-top: 100%;
    margin: 8rem auto 0 auto;
    width: 70%;
  }
}


.mainNavigation {
  position: absolute;
  right: 14%;
  top: 14%;
  font-size: 35px;
  font-weight: 600;
  @media (max-width: $breakPointMobile) {
    position: absolute;
    right: 2rem;
    top: 3.6rem;
    font-size: 1.5rem;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    li {
      text-decoration: none;
      padding: 0 40px;
      @media (max-width: $breakPointMobile) {
        padding: 0 1rem;
      }

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      a {
        color: white;
        text-decoration: none;
        @media (max-width: $breakPointMobile) {
          color: $mainBgColor;
        }

        &.active {
          color: $mainTextColor;
        }

        &:hover {
          color: $mainTextColor;
        }
      }
    }
  }
}

.flowersContainer {
  position: absolute;
  right: -46px;
  bottom: -46px;
  width: 26%;
  pointer-events: none;

  .flower1, .flower2, .flower3 {
    position: absolute;
    right: 0;
    bottom: 0;

  }

  .flower1 {
    right: -73px;
    bottom: 0;
    z-index: 1;
    width: 116%;
  }

  .flower2 {
    width: 130%;
    z-index: 2;
  }

  .flower3 {
    width: 150%;
    z-index: 1;
    bottom: -118px;
    right: 127px;
  }

  img {
    width: 100%;

  }

  @media (max-width: $breakPointMobile) {
    right: -2rem;
    bottom: -2rem;
    width: 51%;

    .flower1 {
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 112%;
    }

    .flower2 {
      width: 130%;
      z-index: 2;
    }

    .flower3 {
      width: 144%;
      z-index: 1;
      bottom: -3rem;
      right: 2rem;
    }
  }
}

.mobileSectionsWrapper {
  position: relative;
  padding: 2rem 0 3rem 0;
  overflow: hidden;
}

.section {
  position: absolute;
  top: 38.8vh;
  left: 42.6vw;
  width: 34rem;
  color: $mainTextColor;

  @media (max-width: $breakPointMobile) {
    position: relative;
    top: unset;
    right: unset;
    width: 70%;
    left: 13%;
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.state1 {
    h2 {
      font-size: 3.5rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
      @media (max-width: $breakPointMobile) {
        font-size: 2rem;
        margin-bottom: 0.1rem;
      }
    }

    p {
      font-size: 2.3rem;
      font-weight: 300;
      margin: 1rem 0;
      @media (max-width: $breakPointMobile) {
        font-size: 1.4rem;
        margin: 0;
      }
    }
  }

  &.state2 {
    .text1 {
      font-size: 2.9rem;
      font-weight: 400;
      @media (max-width: $breakPointMobile) {
        margin-top: 12px;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }

    .text2 {
      margin-top: 12px;
      font-size: 3.8rem;
      white-space: nowrap;
      letter-spacing: 1px;
      font-weight: 500;
      @media (max-width: $breakPointMobile) {
        text-transform: uppercase;
        margin-top: 12px;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }

    .text3 {
      margin-top: 18px;
      font-size: 2.9rem;
      letter-spacing: 1px;
      font-weight: 300;
      @media (max-width: $breakPointMobile) {
        letter-spacing: 0;
        margin-top: 0.4rem;
        font-size: 1.4rem;
      }
    }
  }

  &.state3 {
    display: flex;

    .text1 {
      font-size: 2.7rem;
      font-weight: 300;
      letter-spacing: -3px;
      @media (max-width: $breakPointMobile) {
        letter-spacing: 0;
        font-size: 1.4rem;
      }
    }

    .text2 {
      font-size: 4.3rem;
      font-weight: 500;
      margin-top: 13px;
      letter-spacing: -3px;
      @media (max-width: $breakPointMobile) {
        letter-spacing: 0;
        font-size: 2.2rem;
        margin-top: 0;
      }
    }

    .text3 {
      font-size: 3.2rem;
      font-weight: 400;
      margin-top: 13px;
      letter-spacing: -3px;
      @media (max-width: $breakPointMobile) {
        letter-spacing: 0;
        font-size: 1.8rem;
        margin-top: 0;
        font-weight: 400;
      }
    }

    .mapWrapper {
      display: flex;
      align-items: center;

      .map {
        border: 3px solid $mainTextColor;
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        margin-left: 6rem;
        margin-bottom: 3rem;
        cursor: pointer;
        transition: all .4s;
        transform: translateX(-50%);

        @media (max-width: $breakPointMobile) {
          border: 2px solid #274d4e;
          height: 3rem;
          width: 3rem;
          font-size: 1rem;
          margin-left: 3.4rem;
          margin-bottom: 0;
        }

        &:hover {
          height: 9rem;
          width: 9rem;
          @media (max-width: $breakPointMobile) {
            border: 2px solid #274d4e;
            height: 3rem;
            width: 3rem;
            font-size: 1rem;
            margin-left: 3.4rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.runningTextWrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  color: white;


  @media (max-width: $breakPointMobile) {
    color: $mainTextColor;
  }

}

.mobileRunningTextWrapper {
  position: relative;
  height: 9rem;
  margin: 0;
}

.foolWidthField {
  width: 100%;
  margin-bottom: 1.5rem !important;
}