@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;700&display=swap');

$mainTextColor: #274d4e;
$mainBgColor: #f9e2d4;


.container {
  min-height: 100vh;
  padding: 0;
  //padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainSection {
  background: white;
  width: 100%;
  height: 100vh;
  padding: 2.8vw;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  .formTrigger {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    bottom: 10rem;
    z-index: 2;
    right: 63.5rem;

    @-webkit-keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .rotating {
      animation: rotating 8s linear infinite;

      &:hover {
        animation-play-state: paused;
      }
    }


    span {
      width: 6rem;
      height: 6rem;
      cursor: pointer;

      svg {
        fill: $mainTextColor;
      }
    }
  }
}

.centerBG {
  width: 100%;
  height: 100%;
  background: $mainBgColor;
}

.mainLogo {
  z-index: 1;
  position: absolute;
  top: 3.5rem;
  left: 3.7rem;

  img {
    width: 100%;
  }
}

.mainPoster {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 36vw;
  height: 100%;
  background-image: url(/images/poster.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%);
  }

}


.mainNavigation {
  position: absolute;
  right: 14%;
  top: 14%;
  font-size: 35px;
  font-weight: 600;

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    li {
      text-decoration: none;
      padding: 0 40px;

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      a {
        color: white;
        text-decoration: none;

        &.active {
          color: $mainTextColor;
        }

        &:hover {
          color: $mainTextColor;
        }
      }
    }
  }
}

.flowersContainer {
  position: absolute;
  right: -46px;
  bottom: -46px;
  width: 26%;

  img {
    width: 100%;

  }
}

.flower1, .flower2, .flower3 {
  position: absolute;
  right: 0;
  bottom: 0;

}

.flower1 {
  right: -73px;
  bottom: 0;
  z-index: 1;
  width: 116%;
}

.flower2 {
  width: 130%;
  z-index: 2;
}

.flower3 {
  width: 150%;
  z-index: 1;
  bottom: -118px;
  right: 127px;
}

.section {
  position: absolute;
  top: 23rem;
  right: 35rem;
  height: 17rem;
  width: 34rem;
  color: $mainTextColor;

  &.state1 {
    h2 {
      font-size: 3.5rem;
      margin-top: 0;
      margin-bottom: 0.5rem;

    }

    p {
      font-size: 2.3rem;
      font-weight: 300;
      margin: 1rem 0;
    }
  }

  &.state2 {
    .text1 {
      font-size: 2.9rem;
      font-weight: 400;
    }

    .text2 {
      margin-top: 12px;
      font-size: 3.8rem;
      white-space: nowrap;
      letter-spacing: 1px;
      font-weight: 500;
    }

    .text3 {
      margin-top: 18px;
      font-size: 2.9rem;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }

  &.state3 {
    display: flex;

    .text1 {
      font-size: 2.7rem;
      font-weight: 300;
      letter-spacing: -3px;
    }

    .text2 {
      font-size: 4.3rem;
      font-weight: 500;
      margin-top: 13px;
      letter-spacing: -3px;
    }

    .text3 {
      font-size: 3.2rem;
      font-weight: 400;
      margin-top: 13px;
      letter-spacing: -3px;
    }

    .mapWrapper {
      display: flex;
      align-items: center;

      .map {
        border: 3px solid $mainTextColor;
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        margin-left: 6rem;
        margin-bottom: 3rem;
        cursor: pointer;
        transition: all .4s;

        &:hover {
          border-color: $mainBgColor;
          background: #274d4e;
          color: white;
        }
      }
    }
  }
}

.runningTextWrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.foolWidthField {
  width: 100%;
  margin-bottom: 1.5rem !important;
}